.outerBox {
  display: flex;
  height: 3rem;
  width: 10rem;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border: 1px solid #003057;
}
.outerBox span {
  color: #003057;
  font-weight: 100;
}
.outerBox:hover {
  background-color: #003057;
}
.outerBox:hover span {
  color: white;
}
.btnIcon {
  display: flex;
  align-items: center;
}
