.mainBox{
    background-color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.heading span {
  color:  #262628;
  font-size: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
}
.heading a {
  color: #003057;
  font-size: 16px;
  font-family: Montserrat;
  text-decoration-line: underline;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap:wrap;
}

@media screen and (max-width:700px) {
  .cards{
    flex-direction: column;
    align-items: center;
  }
  .heading{
    padding: 0.4rem;
  }
  .heading a{
    font-size: 12px;
  }
  .heading span{
    font-size: 18px;
  }
}